@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body{
    width:100%;
    font-size: 100%;
    background: #E7F1DB;
    border-radius: 18px; 
    margin:0;
    padding:0;
    min-height: 100%;
}
    


html {
    height: 100%;
}

    

.eclipse-rosa{
    display: block;
    position: fixed;
    width: 1304px;
    height: 650px;
    left: 662px;
    top: 300px;  

}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem{
/* logo 1 */
    width: 100px;
    height: 100px;
    left: 88px;
    top: 34px;
    position: fixed;

}

.cabecalho-menu{
    display: flex;
    gap: 32px;
    position: fixed;
}

.cabecalho-menu-item{
    font-family: 'Poppins', sans-serif;
    color: #131712;
    font-weight: 500;
    font-size: 20px;     

    
}

.conteudo{
    margin-bottom: 48px;

}

.conteudo-principal{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.conteudo-principal-escrito-titulo{
    /* It’s not just coffe */

position: fixed;
width: 552px;
height: 120px;
left: 80px;
top: 198px;

/* ui/typo/heading/1 */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 67.34px;
line-height: 120px;
/* identical to box height, or 178% */
text-align: center;

color: #131712;


}

.conteudo-principal-escrito-subtitulo{
  /* It’s Starbucks */

position: fixed;
width: 566px;
height: 120px;
left: 80px;
top: 294px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 67.34px;
line-height: 120px;
/* identical to box height, or 178% */
text-align: center;

color: #131712;


}

.conteudo-principal-texto{

/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacinia est cursus mollis ac cursus enim aliquet enim cursus. Commodo a at viverra viverra quis dictum mauris, volutpat. Risus felis velit elit, in fs ut nec ornare nisl, leo scelerisque a. Aliquam, ut turpis eleifend aenean fringilla non. Viverra maecentum dui erat auctor dui velit at eu. Eget tincidunt aliquam nam sagittis ipsum leo. Ipsum aliquam placerat ut sit. Pulvinar id quis blandit elit nulla nullam porttitor phasellus enim. Rutrum at mollis imperdiet matum justo, risus. Aliquam id convallis venenatis, sed magnis eleifend. Quisque purus duis viverra suspendisse cras blandit mi iaculis libero. Purus neque risus, pharetra gravida et sit. Faucibus mi velit, sed varius arcu, faucibus sed. */

position: fixed;
width: 570px;
height: 265px;
left: 77px;
top: 430px;

/* ui/typo/button */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #131712;





}

.conteudo-principal-escrito-botao{

/* Learn More */

/* ui/typo/button/2 */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 28.43px;
        line-height: 50px;
        /* identical to box height, or 176% */
        text-align: center;
      

/* dark */


/* Rectangle 3513 */

    position: absolute;
    width: 217px;
    height: 54px;
    left: 77px;
    top: 726px;

/* rose_final */
    background: #D89B9E;
    border-radius: 25px;
    border-bottom: #D89B9E;


}

.conteudo-principal-imagem{
  
      /* coffe_rose 2 */

    position: fixed;
    width: 450px;
    height: 678px;
    right: 259px;
    top: 156px;
}

.conteudo-secudario{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 64px;
    left: 586px;
    top: 873px;
    border-radius: 0px;
}

.redes-sociais-instagram{
    /* instagram 1 */

    position: fixed;
    width: 41px;
    height: 41px;
    right: 32px;
    top: 616px;



}
.redes-sociais-twitter{

/* twitter 1 */

    position: fixed;
    width: 41px;
    height: 33px;
    right: 32px;
    top: 543px;

}

.redes-sociais-facebook{
    /* facebook 1 */

    position: fixed;
    width: 21px;
    height: 41px;
    right: 42px;
    top: 462px;

}

.verde{
    /* coffe_green 2 */

    position: fixed;
    width: 64px;
    height: 100px;
    right: 790px;
    top: 873px;
}

.rosa{
    /* coffe_rose 1 */

    position: fixed;
    width: 59px;
    height: 91px;
    right: 650px;
    top: 873px;

}





